<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike</title>
</head>
<body>
    <form action="" method="POST">
        <label>Model</label>
        <input type="text" name="model" placeholder="e.g Honda">
        </br>
        <label>Daily fee(VND)</label>
        <input type="text" name="dailyfee" placeholder="10000">
        </br>
        <label>Image</label>
        <input type="text" name="image" placeholder="e.g https://hondaxemay">
        </br>
        <label>Year</label>
        <input type="text" name="year" placeholder="e.g 2013">
        </br>
        <button>Submit</button>
    </form>
</body>
</html>